# /etc/systemd/system/cloudflare-ip-block.timer
[Unit]
Description=Timer for updating Cloudflare WAF rules
Requires=cloudflare-ip-block.service

[Timer]
OnCalendar=*:0/5
OnBootSec=60
AccuracySec=5s
Persistent=false

[Install]
WantedBy=timers.target